<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Logiciel_Temps.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Logiciel_Temps.My.MySettings>
            <setting name="Boxun" serializeAs="String">
                <value />
            </setting>
            <setting name="Boxdeux" serializeAs="String">
                <value />
            </setting>
            <setting name="Boxtrois" serializeAs="String">
                <value />
            </setting>
            <setting name="Boxquatre" serializeAs="String">
                <value />
            </setting>
            <setting name="Boxcinq" serializeAs="String">
                <value />
            </setting>
            <setting name="Boxsix" serializeAs="String">
                <value />
            </setting>
            <setting name="Boxsept" serializeAs="String">
                <value />
            </setting>
            <setting name="Boxhuit" serializeAs="String">
                <value />
            </setting>
            <setting name="Boxneuf" serializeAs="String">
                <value />
            </setting>
            <setting name="Boxdix" serializeAs="String">
                <value />
            </setting>
            <setting name="Bun" serializeAs="String">
                <value />
            </setting>
            <setting name="Bdeux" serializeAs="String">
                <value />
            </setting>
            <setting name="Btrois" serializeAs="String">
                <value />
            </setting>
            <setting name="Bquatre" serializeAs="String">
                <value />
            </setting>
            <setting name="Bcinq" serializeAs="String">
                <value />
            </setting>
            <setting name="Bsix" serializeAs="String">
                <value />
            </setting>
            <setting name="Bsept" serializeAs="String">
                <value />
            </setting>
            <setting name="Bhuit" serializeAs="String">
                <value />
            </setting>
            <setting name="Bneuf" serializeAs="String">
                <value />
            </setting>
            <setting name="Bdix" serializeAs="String">
                <value />
            </setting>
            <setting name="Bonce" serializeAs="String">
                <value />
            </setting>
            <setting name="Bdouze" serializeAs="String">
                <value />
            </setting>
            <setting name="Btraize" serializeAs="String">
                <value />
            </setting>
            <setting name="Bquatorz" serializeAs="String">
                <value />
            </setting>
            <setting name="Bquinz" serializeAs="String">
                <value />
            </setting>
            <setting name="Bsinz" serializeAs="String">
                <value />
            </setting>
            <setting name="Bdixsept" serializeAs="String">
                <value />
            </setting>
            <setting name="Bdixhuit" serializeAs="String">
                <value />
            </setting>
            <setting name="Bdixneuf" serializeAs="String">
                <value />
            </setting>
            <setting name="Bvingt" serializeAs="String">
                <value />
            </setting>
        </Logiciel_Temps.My.MySettings>
    </userSettings>
</configuration>